*{
    margin:0;
    padding: 0;
}

.board{

    display: grid;

    width:200px;
    height:200px;
    background-color: green;
    grid-template-columns: auto auto auto;
    padding: 10px;
    
}
.qube{
text-align: center;
    width: 60px;
    height: 60px;
    background-color: white;
}
.tic-tac-toe{
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
label{
    text-align: center;
}
p{
    font-size: 10px;
    margin:0;
    padding: 0;
}